//mixin with default parameters
@mixin backImage(
	$image,
	$grDir: to bottom,
	$opStart: 0,
	$opEnd: 0,
	$bgPos: center center
	) {
	background: linear-gradient($grDir,
		rgba(0,0,0, $opStart),
		rgba(0,0,0, $opEnd)
	), url($image);
	background-repeat: no-repeat;
	background-position: $bgPos;
  	background-size: cover;
}

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}// before, after
	&:after {
		clear: both;
	}//before
}//clearfix